
body {
    background-color: #181C25;
    margin: auto;
    padding: auto;
    font-family: Inter, sans-serif;
    font-weight: 300;
    height: 100vh;
    width: 100vw;
    text-align: justify;
    text-justify: inter-word;
}

@font-face {
    font-family: dreamAvenue;
    src: url(FontsFree-Net-Dream-Avenue.ttf);
}
  
.logo {
    color:#161513;
    font-size: 26px;
    font-family: Inter, sans-serif;
    font-weight: 500;
}

h1 {
    color:#8F6593;
    font-size: 62px;
    font-family: Inter, sans-serif;
    font-weight: 500;
}


h2 {
    color: #CDCDCD;
    font-size: 22px;
    font-family: dreamAvenue, serif;
    font-weight: 500;
    margin-bottom: 30px;


}

a {
    text-decoration: none;
    color: #8F6593;
    font-weight: 600;

}

p {
    font-size: 16px;
    color:#E3E4DB;
    font-weight: 300;
}

h3 {
    color: #E3E4DB;
    font-weight: 400;
}

img {
    width:200px;
    height: 267px;
}

figcaption, .names {
    font-style: italic;
    font-family: Inter, sans-serif;
    font-weight: 100;
    color: #CDCDCD;
}




/* navigation styling section*/
.nav-container {
    display: flex;
    width:100%;
    position:fixed;
    top:0;
    background-color: #101319;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
}

nav a{
    color: #8F6593;
    font-family: Inter, sans-serif;
    font-weight: 400;
}

nav li {
    text-align: center;
}

.navigation {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: auto 10px;
}


.navigation-option, .navigation-option-contact{
    margin: 5px 15px;
}

#logo {
    margin: 15px 10px;
}


/* main content styling section */
section {
    height: 90vh;
}
.main-content{
    margin-top: 8%;
    margin-left: 70px;
    margin-right: 70px;
    padding: 0 5px;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto; 
    padding: 5px;
}

.hero-container h2{
    font-size: 32px;
    font-family:  dreamAvenue, serif;
    font-weight: 300;
}



button.hero {
    background-color: #8F6593;
    margin: 20px auto; 

    border-radius: 30px;
}

button a{
    color:#E3E4DB;
    padding:15px;
    font-family: Inter, sans-serif;
}

.container {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    flex-wrap: wrap; 
    flex-direction: column;
}

.container-about {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    display: block;
    
}



figure {
    float: left;
    margin: 0 20px;
}



#pic {
    border-radius: 25% 10%;
}

#contact li {
    color:#CDCDCD
 }


/* footer styling section*/
.footer-container{
    background-color: #101319;
    margin-top: auto;
    text-align: center;
    width:100%;
    position:fixed;
    bottom:0;
}

footer p  {
    color: #AEA4BF;
    padding: 10px auto;
}

/*responsiveness - media queries */

/*between desktop and tablets*/
@media only screen and (min-width:871px) and (max-width: 1280px)  {
    h1 {
        font-size: 46px;
    }
    
    h2 {
        font-size: 22px;
    }

    h3 { 
        font-size: 18px;
    }
    
    p, li {
        font-size: 16px;
    }
    
    img {
        width: 120px;
        height: 220px;
    }

    .hero-container h2 {
        font-size: 24px;
    }

    .container {
        margin: 0 20px; 

    }
    #logo {
        font-size: 24px;
    }
    
    .main-content {
        margin-left: 40px;
        margin-right: 40px;
        padding: 0 2px;
    }
    
    
    
}

/*mobile medium*/
/* tutaj hamburger menu i ni*/
@media only screen and (min-width:461px) and (max-width: 870px)  {
  h1 {
        font-size: 34px;
    }
    
    h2 {
        font-size: 16px;
    }

    h3 { 
        font-size: 14px;
    }
    
    p, li {
        font-size: 12px;
    }
    
    img {
        width: 80px;
        height: 100px;
    }
    
    .hero-container h2 {
        font-size: 18px;
    }

    .container {
        margin: 0 auto; 

    }
    #logo {
        font-size: 20px;
    }

    .main-content {
        margin-left: 30px;
        margin-right: 30px;
        padding: 0 2px;
    }
    
}

/*mobile small*/
@media only screen and (min-width:321px) and (max-width: 460px)  {
    h1 {
        font-size: 34px;
    }
    
    h2 {
        font-size: 16px;
    }

    h3 { 
        font-size: 12px;
    }
    
    p, li {
        font-size: 12px;
    }
    
    img {
        width: 80px;
        height: 100px;
    }
    
    .hero-container h2 {
        font-size: 18px;
    }

    .container {
        margin: 0 auto; 
        padding: 60px 0;
    }

    .container-about{
        margin: 0 auto; 
        padding: 60px 0;
    }
    
    #logo {
        font-size: 20px;
    }

    .main-content {
        margin-left: 30px;
        margin-right: 30px;
        padding:  2px;
    }
    
}

@media only screen and (max-width:320px) {
 h1 {
    font-size: 34px;
}

h2 {
    font-size: 16px;
}

h3 { 
    font-size: 12px;
}

p, li {
    font-size: 12px;
}

img {
    width: 80px;
    height: 100px;
}

.hero-container h2 {
    font-size: 18px;
}

.container {
    margin: 0 auto; 
    padding: 100px 0;
}

.container-about{
    margin: 0 auto; 
    padding: 100px 0;
}

#logo {
    font-size: 20px;
}

.main-content {
    margin-left: 30px;
    margin-right: 30px;
    padding:  2px;
}
}