
body {
    background-color: #181C25;
    margin: 0;
    font-family: Lato, sans-serif;
    font-weight: 300;
    min-height: 100vh;
    width: 70vw;
    text-align: justify;
    text-justify: inter-word;
}

.logo {
    color:#161513;
    font-size: 26px;
}

h1 {
    color:#8F6593;
    font-size: 48px;
    font-family: "Playfair Display";
    font-weight: 400;
}


h2 {
    color: #CDCDCD;
    font-size: 22px;
    font-family: "Playfair Display";
    font-weight: 400;

}

a {
    text-decoration: none;
    color: #8F6593;

}

p {
    font-size: 16px;
    color:#E3E4DB;
}

h3, summary {
    color: #E3E4DB;
}

img {
    width:170px;
    height: 300px;
}

figcaption, .names {
    font-style:italic;
    font-family: Lato;
}



/* navigation styling section*/
.nav-container {
    display: flex;
    width:100%;
    position:fixed;
    top:0;
    background-color: #101319;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
}

nav a{
    color: #8F6593;
    font-family: 'Playfair Display';
    font-weight: 400;

}


.navigation {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: auto 10px;
}


.navigation-option, .navigation-option-contact{
    margin: 5px 15px;
}

#logo {
    margin: 15px 10px;
}

/* main content styling section */
section {
    height: 100vh;    
}

.main-content{
  position: absolute;
  top: 8%;
  margin: 0 50px; 
  padding: 0 5px;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px auto; 
    padding: 5px;
}

.hero-container h2{
    font-size: 34px;
    font-family: Lato;
    font-weight: 300;
}

.hero h1, h2{
    margin: 30px auto; 
}

button.hero {
    margin: 400px auto 30px auto; 
    background-color: #8F6593;

}

button a{
    color:#E3E4DB;
}

.container {
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px 50px; 
    padding: 5px;
    
}

#contact li {
    color:#CDCDCD
 }


/* footer styling section*/
.footer-container{
    background-color: #101319;
    
    margin-top: auto;
    text-align: center;
    width:100%;
    position:fixed;
    bottom:0;
}

footer p  {
    color: #AEA4BF;
}

/*responsiveness - media queries */

/*between desktop and tablets*/
@media only screen and (min-width:421px) and (max-width: 1280px)  {
    h1 {
        font-size: 22px;
    }
    
    h2 {
        font-size: 18px;
    }
    
    p {
        font-size: 14px;
    }
    
    img {
        width: 120px;
        height: 220px;
    }
}

/*mobile*/
@media only screen and (max-width: 420px)  {
    h1 {
        font-size: 18px;
    }
    
    h2 {
        font-size: 16px;
    }
    
    p {
        font-size: 12px;
    }
    
    img {
        width: 80px;
        height: 100px;
    }
    
}
